@font-face {
  font-family:"iconfont";
  src:font-url("iconfont.eot?hash=94f9b7623418ad5519999d255d187330");
  src:font-url("iconfont.eot?hash=94f9b7623418ad5519999d255d187330#iefix") format("embedded-opentype"),
      font-url("iconfont.woff2?hash=94f9b7623418ad5519999d255d187330") format("woff2"),
      font-url("iconfont.woff?hash=94f9b7623418ad5519999d255d187330") format("woff"),
      font-url("iconfont.ttf?hash=94f9b7623418ad5519999d255d187330") format("truetype");
}

.icon{
  use-font-icon();
}


.icon--air-play:before { content: $icon-var-air-play;}
.icon--align-center:before { content: $icon-var-align-center;}
.icon--align-justify:before { content: $icon-var-align-justify;}
.icon--align-left:before { content: $icon-var-align-left;}
.icon--align-right:before { content: $icon-var-align-right;}

